body {
	background-color: rgb(25,25,25);
	color: white;
	font-family: Arial;
}

.title {
	font-size: 30px;
	font-weight: bold;
}

.move-button {
	width: 125px;
	height: 125px;
	border-radius: 62.5px;
	border: 3px solid white;
	background-color: transparent;
	margin-right: 10px;
	cursor: pointer
}

.move-button img {
	width: 50px;
}

.reset-button {
	padding: 12px 17px;
	font-size: 16px;
	border: none;
}

.js-result {
font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
}

.js-moves img{
	width: 50px;
}